<%- include('header') %>

<div class="container">
	<h1><%= title %></h1>
	<a href="/profile">Profile</a>
</div>

<div class="container">

	<%- include ('summary', { account: accounts.savings }) %>
	<%- include ('summary', { account: accounts.checking }) %>
	<%- include ('summary', { account: accounts.credit }) %>

</div>

<br><a href="/transfer">Transfer</a>

<%- include('footer') %>